rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }

    match /posts/{postId} {
      allow read: if signedIn();
      allow create: if signedIn() && request.resource.data.authorUid == request.auth.uid;
      allow update, delete: if signedIn() && resource.data.authorUid == request.auth.uid;
    }

    match /users/{uid} {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == uid;
    }

    match /chats/{chatId} {
      allow read, write: if signedIn() && request.auth.token.email in resource.data.participants;
      match /messages/{msgId} {
        allow read, write: if signedIn() && request.auth.token.email in get(/databases/$(database)/documents/chats/$(chatId)).data.participants;
      }
    }
  }
}
